* {
  box-sizing: border-box;
  font-family: 'Crimson Pro', serif;
  margin: 0;
  /* border: 1px solid red; */
}

:root {
  --main-dark: #83756Bff;
  --main-light: #DCDAD5ff;
}

body {
  margin: 0;
  /* overflow-x: hidden;  */
  display: grid;
  grid-template-rows: 10vh 1fr;
  grid-template-areas:
    "nav"
    "main"
}

/* -========= NAV BAR =========- */
nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #000;
  background-color: white;
  padding: 0 60px 0 30px;
}

.nav-link {
  position: relative;
  font-size: 2.1vmin;
  text-decoration: none;
  margin: 0 2.5vmin;
  letter-spacing: 1px;
  color: #000;
}

.nav-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: .75px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

.site-header {
  flex: 1;
  margin-left: 25px;
  font-size: 32px;
  letter-spacing: 5px;
  justify-content: flex-start !important;
}

/* -========= Landing Page =========- */
.home-section {
  /* outline: 1px solid red; */
  height: 84vmin;
  margin-top: 2.75vmin;
  display: flex;
}

#landing-pic {
  height: 84vmin;
}

.home-sub-section {
  display: flex;
  height: 81vmin;
  justify-content: flex-end;
  /* border: 1px solid black; */
  /* margin-left: 4.75vmin; */
  width: 55vw;
}

.left-photo-section {
  display: flex;
  height: 81vmin;
}
/* --Landing Divs-- */
#panel-1 {
  width: 12.42vw;
  background-color: var(--main-dark);
}
#panel-2 {
  width: 3vw;
  background-color: var(--main-light);
}
#panel-3 {
  display: flex;
  align-items: center;
  width: 40vw;
  background-color: var(--main-light);
}
#panel-4 {
  width: 0.3vw;
  background-color: var(--main-dark);
}
#panel-5 {
  width: 15vw;
  background-color: var(--main-light);
}

.landing-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2vw;
  height: 25vh;
  /* border: 1px solid black; */
}

.landing-text h1 {
  font-size: 5vmin;
}

.landing-text p {
  margin: 1vmin 0;
  line-height: 1.6;
}

.landing-btn {
  border: 2px solid var(--main-dark);
  background-color: var(--main-light);
  color: var(--main-dark);
  text-decoration: none;
  font-size: 2vmin;
  letter-spacing: 1px;
  padding: 5px;
  text-align: center;
  width: 15vmin;
}

.landing-btn:hover {
  border: 2px solid var(--main-dark);
  background-color: var(--main-dark);
  color: var(--main-light);
  text-decoration: none;
  font-size: 2vmin;
  letter-spacing: 1px;
  padding: 5px;
  text-align: center;
  width: 15vmin;
}

.white-overlay {
  position: relative;
  /* border: 1px solid #000; */
  width: 100vw;
  height: 10vh;
  margin-top: -6.8vh;
  background-color: rgba(255, 255, 255, 0.75);
}
/* -========= Universal =========- */
/* Universal Flexbox Center Class */
.flex-cntr {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Universal Flexbox Center Column Class */
.flex-cntr-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -========= Recipe Index Page (All Recipes) ==========- */

.all-recipes-title {
  text-align: center;
  margin-top: 3.5vmin;
  margin-bottom: 1.5vmin;
}

.recipes-idx-container {
  /* display: flex; */
  /* flex-wrap: wrap;
  flex-direction: row; */
  padding-left: 15px;
  margin: 0 auto;
  width: 1600px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display-container {
  display: inline-block;
  box-shadow: rgba(50, 50, 93, 0.75) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  height: 380px;
  width: 360px;
  margin: 15px;
  /* margin: 2.2vmin; */
}

.recipe-display {
  height: 360px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opacity-layer {
  height: 325px;
  width: 325px;
  background-color: #000;
  overflow: hidden;
}

.opacity-layer h3 {
  position: absolute !important;
  font-size: 16px;
}

#food-img {
  height: 325px;
  width: 325px;
  object-fit: cover;
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#food-img:hover {
  opacity: .8;
  transform: scale(1.05);
}

/* -====== NEW RECIPE PAGE ======- */
.new-recipe-panels {
background-color: var(--main-light);
}

.new-edit-recipe-title {
  margin-top: 0;
  font-size: 32px;
  /* background-color: white;
  margin: 0 auto;
  border: 2px solid var(--main-dark);
  width: 40vw; */
  /* color: var(--main-dark); */
  letter-spacing: 2.5px;
}

#new-recipe, #edit-recipe {
  background-color: var(--main-light);
  background-color: white;
  width: 70vw;
  margin: 0 auto;
}

.content-container {
  border-left: 52px solid var(--main-dark);
  border-right: 52px solid var(--main-dark);
}

.input-container {
  margin-top: 10px;
  width: 90%;
  max-width: 40.1em;
  height: 2.5em;
  position: relative;
}

.form-input {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background: transparent; */
  border: 2px solid var(--main-dark);
  border-radius: 0.5em;
  outline: none;
  /* color: var(--main-dark); */
  color: #000;
  font-family: 'Bitter', serif;
  padding-left: 1em;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
}

.form-text-area {
  padding-top: 1em;
  position: absolute;
  resize: none;
  /* height: 100%; */
  /* background: transparent; */
  border: 2px solid var(--main-dark);
  border-radius: 0.5em;
  outline: none;
  color: #000;
  font-family: 'Bitter', serif;
  padding-left: 1em;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
}

.hide-arrow::-webkit-outer-spin-button,
.hide-arrow::-webkit-inner-spin-button {
  display: none;
}

.form-text-area:hover,
.form-input:hover {
  border: 2px solid rgba(131, 117, 107, 0.5);
}

.form-text-area:focus,
.form-input:focus {
  border: 2px solid var(--main-dark);
}

.form-input:focus~.input-label,
.form-text-area:focus~.input-label,
.form-input:not(:placeholder-shown).form-input:not(:focus)~.input-label,
.form-text-area:not(:placeholder-shown).form-text-area:not(:focus)~.input-label {
  top: -0.5em;
  font-size: 0.75em;
  padding: 0 0.125em;
}

.input-label {
  position: absolute;
  color: var(--main-dark);
  /* background: var(--main-light); */
  background-color: #fff;
  font-family: 'Bitter', serif;
  left: 1em;
  top: 0.75em;
  cursor: text;
  transition: top 350ms ease-in, font-size 350ms ease-in;
}

.form-input, .form-text-area, .input-label {
  margin: 15px 0;
}

.file-upload {
  font-family: 'Bitter', serif;
  margin-right: 5%;
  margin-left: -22.5%;
}

.add-btn {
  border: 2px solid var(--main-dark);
  background-color: var(--main-light);
  color: var(--main-dark);
  text-decoration: none;
  font-size: 2vmin;
  letter-spacing: 1px;
  padding: 5px;
  text-align: center;
  width: 15vmin;
  border-radius: 0.5em;
  margin: 0.5% 0 3% 0;
  font-family: 'Bitter', serif;
  font-size: 16px;
}

.add-btn:hover {
  border: 2px solid var(--main-dark);
  background-color: var(--main-dark);
  color: var(--main-light);
}

#upload::-webkit-file-upload-button {
  border: 1px solid #000;
  background-color: white;
  color: #000;
  text-decoration: none;
  font-size: 2vmin;
  letter-spacing: 1px;
  padding: 5px;
  text-align: center;
  width: 10vmin;
  border-radius: 0.5em;
  margin: 2% 2% 3% 30%;
  font-family: 'Bitter', serif;
  font-size: 12px;
}

#upload::-webkit-file-upload-button:hover {
  border: 1px solid var(--main-dark);
  background-color: var(--main-dark);
  color: var(--main-light);
}

/* -======= SHOW PAGE ========- */
.show-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-container {
  background-color: var(--main-light);
  /* border-radius: 1.5em; */
  margin: 5vh auto 0 auto;
  width: 80vw;
  /* border: 1px solid red; */
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .12fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "recipe recipe recipe"
  "ingredients time image"
  "uploader directions directions"
  "reviews reviews reviews"
  ". addReview ."; */
}

.div-style {
  margin: 15px auto;
  width: 78vw;
  border: 1px solid var(--main-dark);
}

.show-inner-container {
  width: 75vw;
  margin: 0 auto;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .12fr .02fr 1fr;
  grid-template-areas: 
  "recipe recipe recipe"
  "time time time"
  "ingredients ingredients image";
}

.show-inner-container2 {
  width: 75vw;
  margin: 0 auto;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: .925fr 1fr 1fr;
  grid-template-rows: 2.25fr 1fr 1fr;
  grid-template-areas: 
  "uploader directions directions"
  "reviews reviews reviews"
  "addReview addReview addReview";
}

.show-title {
  grid-area: recipe;
  width: 100%;
  text-align: center;
  margin-top: 2.5vmin;
  margin-bottom: 1.5vmin;
  font-size: 36px;
  padding: 0 25px 3px 25px;
  border-bottom: 1.5px dotted black;
}

.show-ingredients {
  grid-area: ingredients;
  grid-column: 1;
  font-size: 20px;
  margin-left: 75px;
  width: 400px;
  margin-right: 100px;
  line-height: 1.3;
}

.show-time {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 3vh;
  grid-area: time;
  grid-column: 1, span 3;
  text-align: center;
}

.show-image {
  grid-area: image;
  height: 510px;
  width: 510px;
  object-fit: cover;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  grid-column: 3;
}

.show-image:hover {
  transform: scale(1.05);
}

.recipe-uploader {
  grid-area: uploader;
  margin-left: 105px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 310px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.75) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.recipe-uploader h3 {
  margin-top: 10px;
  font-size: 14px;
  margin-left: 35px;
  align-self: flex-start;
}

.recipe-uploader h4 {
  margin-top: 10px;
  margin-left: 35px;
  font-size: 22px;
  letter-spacing: .5px;
  align-self: flex-start;
}

#upload-user-pfp {
  margin-top: 10px;
  height: 220px;
  width: 220px;
}

.show-directions {
  grid-area: directions;
  margin-left: 35px;
  font-size: 20px;
  width: 85%;
  line-height: 1.5;
}

.show-directions h3 {
  border-bottom: .5px dotted black;
  margin: 0 0 7px 22px;
}

.show-reviews {
  grid-area: reviews;
  margin-left: 100px;
}

.show-reviews h3 {
  grid-area: reviews;
  margin-left: 3px;
  font-size: 24px;
  border-bottom: .5px dotted black;
  width: 1050px;
}

.show-reviews table {
  margin-top: 10px;
  font-size: 16px;
}

.reviews-th {
  padding-right: 150px;
  border-bottom: .5px dotted black;
}

.show-add-review {
  grid-area: addReview;
}

.review-delete {
  border: none;
  font-family: sans-serif;
  background-color: var(--main-light);
  color: var(--main-dark);
  font-size: 1.5vmin;
}

.review-delete:hover {
  color: black;
}

.show-display-container {
  display: inline-block;
  box-shadow: rgba(50, 50, 93, 0.75) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  height: 550px;
  width: 550px;
  margin: 2.2vmin;
  background-color: white;
}

.show-recipe-display {
  height: 550px;
  /* background-color: white; */
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-opacity-layer {
  height: 510px;
  width: 510px;
  /* border: .1px solid black; */
  background-color: #000;
  overflow: hidden;
}

#ingredients-text {
  margin: 0 0 7px 22px;
  border-bottom: .5px dotted black;
}

.show-recipe-display, .show-opacity-layer, .show-display-container, .show-image {
  margin-top: -0.1px;
  /* margin-left: 50px; */
}