<%- include('../partials/header') %>

<section>
    <% recipes.forEach(function(r) { %>
        <div id="recipe-preview-container">
            <img src="<%= r.picture %>" alt="food">
        </div>
    <% }) %>
</section>

<%- include('../partials/footer') %>