<%- include('../partials/header') %>

<h1 class="all-recipes-title"><%= title %></h1>

<section id="new-recipe">
    <form 
        class="flex-cntr-col" 
        id="new-recipe-form" 
        action="/recipes" 
        enctype="multipart/form-data" 
        method="POST"
    >
        <div class="input-container">
            <input 
            type="text"
            id="name"
            name="name"
            autocomplete="off"
            placeholder=" "
            class="form-input"
            >
        </div>
        <!-- <label>Recipe Name:
            <input type="text" required name="name">
        </label> -->
        <label>Ingredients:
            <input type="text" required name="ingredients">
        </label>
        <label>Directions:
            <input type="text" required name="directions">
        </label>
        <label>Prep Time:
            <input type="number" required name="prepTime">
        </label>
        <label>Cook Time:
            <input type="number" required name="cookTime">
        </label>
        <label>
            Image:
            <input type="file" required name="picture">
        </label>
    </form>
</section>
<button 
    type="submit" 
    form="new-recipe-form" 
    id="new-recipe-btn"
    >Add Recipe
</button>

<%- include('../partials/footer') %>