<%- include('../partials/header') %>
<h1 id="new-recipe-title" class="all-recipes-title"><%= title %></h1>
<!-- <div class="new-recipe-panel1"></div> -->
<section id="new-recipe">  <!--class="flex-cntr-col"   --- ADD THIS TO BELOW FORM IF RESET-->
    <div class="content-container">
        <form 
            id="new-recipe-form" 
            class="flex-cntr-col"
            action="/recipes" 
            enctype="multipart/form-data" 
            method="POST"
        >
            <div class="input-container">
                <input 
                type="text"
                id="name"
                name="name"
                autocomplete="off"
                placeholder=" "
                class="form-input"
                required
            >
                <label class="input-label" for="name">Recipe Name</label>
            </div>
            <div class="input-container">
                <textarea 
                type="text"
                id="ingredients"
                name="ingredients"
                autocomplete="off"
                placeholder=" "
                class="form-text-area"
                cols="81" rows="17"
                required
            ></textarea>
                <label class="input-label" for="ingredients">Ingredients</label>
            </div>
            <div class="input-container">
                <textarea 
                type="text"
                id="directions"
                name="directions"
                autocomplete="off"
                placeholder=" "
                class="form-text-area"
                cols="81" rows="17"
                required
            ></textarea>
                <label class="input-label" for="directions">Directions</label>
            </div>
            <div class="input-container">
                <input 
                type="number"
                id="prep-time"
                name="prepTime"
                autocomplete="off"
                placeholder="(in minutes)"
                class="form-input hide-arrow"
                required
            >
                <label class="input-label" for="prep-time">Prep Time</label>
            </div>
            <div class="input-container">
                <input 
                type="number"
                id="cook-time"
                name="cookTime"
                autocomplete="off"
                placeholder="(in minutes)"
                class="form-input hide-arrow"
                required
            >
                <label class="input-label" for="cook-time">Cook Time</label>
            </div>
            <label>
                Image:
                <input type="file" required name="picture">
            </label>
        </form>
        <button 
            type="submit" 
            form="new-recipe-form" 
            id="new-recipe-btn"
        >Add Recipe
        </button>
    </div>
</section>
<!-- <div class="new-recipe-panel2"></div> -->

<%- include('../partials/footer') %>